.header{
    border-bottom: 1.5px solid #ccc;
    h3 {
        padding: 0.7em;
        margin-bottom: 0px;
        margin-left: 2em;
    }
}

.action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1em;
    .update {
        margin-right: 2em;
        margin-left: 2em;
        background: #167782 0% 0% no-repeat padding-box;
        border-radius: 0.4em;
        font-size: 1em;
        color: #FFFFFF;
        width: 12em;
        border: 2px;
        padding: 0.5em;
        cursor: pointer;
    }

    .cancel {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 0.4em;
        font-size: 1em;
        color: #222222;
        height: 2em;
        width: 12em;
        border: 1px solid #222222;
        padding: 0.5em;
        cursor: pointer;
    }
    .disable {
        background-color: gray;
    }
    .disable:hover {
        cursor: not-allowed;
    }
    .disable:active {
        pointer-events: none;
    }
}
.container {
    width: 50vw;
    margin-left: 3em;
    .field-style {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

