.header {
    // display: block;
    position: static;
    background-color: rgb(7, 7, 160);
    height: 10vh;
    padding: 1em;
    font-size: larger;
    color: white;
    position: static;
    width: 100vw;
}