.main-container {
    .main {
        margin-top: 0.5em;
    }
    .container {
        display: flex;
        flex-direction: row;
        height: 4em;
        padding: 2em 0em 0em 2em;
        
        .menu-options {
            display: flex;
            flex-direction: row;
            width: 100%;
        }


        .status {
            p {
                color: black;
                font-size: medium;
                width: 8vw;
                margin-top: 0.5em;
            }
        }

        .dropdown-select {
            height: 1.7em;
            border: 0.0625em solid #E6E6E6;
            border-radius: 0.4em;
            width: 100%;
            padding-top: 9px;
        }

        .create_ticket_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            
            padding-right: 16px;
            width: 16em;
            border: 2px;
            margin-right: 2em;background: #167782 0% 0% no-repeat padding-box;
            border-radius: 0.4em;
            font-size: 1em;
            color: #FFFFFF;
            height: 2.5em;

            p {
                margin: 0px;
            }

        }
    
        .search_row {
            .serch_input_row {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 45%;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                opacity: 1;
                height: 2.5em;
                margin-left: 2em;
                border: 1px solid #ccc;
                border-radius: 4px !important;
            }
            
            .search_icon {
                    color: #707070;
            }
            
            .search_input {
                border: none;
                outline: none;
                margin-top: 5px;
            }
            // for clear filter button 
            // .clear-btn {
            //     margin-left: 2.7em;
            //     background: #167782 0% 0% no-repeat padding-box;
            //     border-radius: 0.4em;
            //     font-size: 1em;
            //     color: #FFFFFF;
            //     height: 2.5em;
            //     border: none;
            // }
        }
    }

}
:host ::ng-deep a {
    text-decoration: none;
    color: inherit;
}

.date {
    flex: 25%;
    display: flex;
    margin-left: 2em;
    height: 2.5em;
    top: -5px;
    border: 1px solid #ccc;
    border-radius: 4px !important;
    .input-style {
        padding: 0.51em !important;
    }
}
  